ASPNETCORE_ENVIRONMENT=Development
FRONTEND_PORT=5173
BACKEND_PORT=8080
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=TaskManagementSystemDb
MSSQL_SA_PASSWORD=ChangeThis_StrongPassword_123!
MSSQL_PID=Developer
ADMIN_USER_SEED_ENABLED=false
ADMIN_USER_SEED_FIRSTNAME=System
ADMIN_USER_SEED_LASTNAME=Administrator
ADMIN_USER_SEED_EMAIL=admin@taskms.local
ADMIN_USER_SEED_PASSWORD=ChangeThis_AdminPassword_123!
JWT_ISSUER=TaskManagementSystem
JWT_AUDIENCE=TaskManagementSystem.Client
JWT_SECRET_KEY=ChangeThis_JwtSecretKey_Minimum32Characters_123!
JWT_EXPIRATION_MINUTES=60
